@font-face {
  font-family: bakery;
  src: url("BakerieSmooth.otf"); }

h3 {
  font-family: bakery;
  font-size: 40px; }

p {
  font-family: "Montserrat", sans-serif; }

.menu {
  list-style: none;
  padding: 15px;
  font-family: bakery;
  font-size: 25px;
  background-color: whitesmoke; }
  .menu .logo-menu img {
    height: 100%;
    width: 75%; }
  .menu .menu-lista {
    align-items: center; }

.quienes-somos {
  background-color: #e8ccd7; }
  .quienes-somos .portada {
    width: 45%;
    height: 45%;
    margin-top: 125px;
    margin-left: 50px; }
  .quienes-somos .quienes-somos-parrafo {
    font-family: "Montserrat", sans-serif;
    margin-top: 150px;
    margin-left: 50px;
    text-align: justify;
    padding: 30px; }
    .quienes-somos .quienes-somos-parrafo .quienes-somos-nombre-sitio {
      font-weight: bolder; }

.como-trabajamos {
  padding: 20px;
  margin: 30px; }
  .como-trabajamos .como-trabajamos-titulo {
    margin-top: 100px; }
  .como-trabajamos .como-trabajamos-carousel {
    background-color: #e8ccd7;
    padding-top: 100px; }
    .como-trabajamos .como-trabajamos-carousel .carousel {
      width: 600px;
      height: 700px; }
    .como-trabajamos .como-trabajamos-carousel .carousel-item p {
      font-weight: bolder;
      font-size: 25px; }

.como-trabajamos-mobile {
  display: none; }

.FAQ {
  padding: 120px 20px 20px 20px;
  margin: 20px; }
  .FAQ div {
    background-color: #e8ccd7; }

footer {
  margin-top: 70px; }
  footer .contacto .btn {
    background-color: #bfadb9;
    border: none; }
    footer .contacto .btn:hover {
      background-color: #f3d9bA; }

.redes .instagram {
  padding: 5px; }
  .redes .instagram:hover {
    transform: scale(1.15); }

.redes .whattsapp {
  padding: 5px; }
  .redes .whattsapp:hover {
    transform: scale(1.15); }

.tienda {
  background-color: #e8ccd7; }
  .tienda .encabezado-tienda {
    margin-top: 120px; }
  .tienda .texto-tienda {
    text-align: justify; }
  .tienda .productos {
    margin-top: 50px; }
    .tienda .productos .item-articulo .imagen-articulo {
      width: 350px;
      height: 350px;
      transition: all 0.5s; }
      .tienda .productos .item-articulo .imagen-articulo:hover {
        width: 360px;
        height: 360px; }
    .tienda .productos .item-articulo p {
      text-align: center; }
      .tienda .productos .item-articulo p .precio {
        font-weight: bolder; }

/* Mobile Styles */
@media only screen and (max-width: 415px) {
  .quienes-somos .portada {
    display: none; }
  .quienes-somos .quienes-somos-parrafo {
    margin-top: 125px;
    margin-left: 0px;
    text-align: justify;
    padding: 0px;
    font-size: 14px; }
    .quienes-somos .quienes-somos-parrafo .parrafo-pantalla-grande {
      display: none; }
  .como-trabajamos .como-trabajamos-titulo {
    margin-top: 50px;
    margin-bottom: 0px; }
  .como-trabajamos .como-trabajamos-carousel {
    display: none; }
  .como-trabajamos-mobile {
    display: block; }
    .como-trabajamos-mobile p {
      margin: 5px 6px 5px 6px; }
    .como-trabajamos-mobile .como-trabajamos-mobile-pasos p {
      font-weight: bolder;
      text-align: center; }
  .tienda {
    background-color: white; }
  .menu-footer {
    display: none; } }

/* Tablet Style */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .quienes-somos .quienes-somos-parrafo {
    margin-top: 125px;
    margin-left: 0px;
    text-align: justify;
    padding: 0px;
    font-size: 12px; }
  .quienes-somos .portada {
    margin-top: 150px; } }

/* Laptop Style */
@media only screen and (min-width: 1300px) and (max-width: 1400px) {
  .quienes-somos .quienes-somos-parrafo {
    margin-top: 125px;
    margin-left: 10px;
    text-align: justify;
    padding: 0px;
    font-size: 15px; }
  .quienes-somos .portada {
    margin-top: 115px; } }
